* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

body,
html {
    overflow-x:hidden;
}

a {
    color: #000;
}

a:hover {
    color: #0097A7;
}

.header a.register-button {
    margin: 15px 0;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 70px;
    border: 2.2px solid #0097A7;
    border-radius: 5px;
}

a.register-button:hover {
    background-color: #0097A7;
    color: #fff;
}

.header {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.header > .title {
    text-shadow: 1px 1px 1px #9E9E9E;
    font-size: 3em;
    margin: 40px 0 20px;
    font-weight: bold;
}

.header > .subtitle {
    margin: 20px;
    text-align: center;
}

.header > .logo {
    margin: 20px 0;
}

.header > .register {
    margin: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    line-height: 33px;
}

.content {
    max-width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 60px 0 0;
}

section {
    color: #000;
}

section:nth-child(odd) {
    background-color: #0097A7;
    color: #fff;
}

.section-content {
    width: 40%;
    margin: 50px auto;
    text-align: left;
}

.section-content p {
    line-height: 34px;
    padding: 10px 0;
    font-size: 20px;
}

.section-content h1 {
    font-size: 35px;
    letter-spacing: 0.2px;
    text-shadow: 1px 1px rgba(0,0,0,0.24);
    padding: 10px 0 8px;
}

.section-content a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.section-content span {
    font-weight: 700;
    font-size: 23px;
}

.section-content a:visited {
    color: #000;
}

section:nth-child(odd) a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.section-content a:hover {
    color: #0097A7;
    border-bottom: 1px solid #0097A7;
}


.footer {
    margin: 100px 0 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.footer-content {
    margin: 10px 80px;
    text-align: center;
    font-size: 1.3em;
}

.footer-item {
    margin: 30px 0;
    flex: 1;
}

.content iframe {
    margin: 0 auto;
}

.map-responsive {
    margin: 30px 0 10px;
    overflow: hidden;
    padding-bottom: 25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    height: 100%;
    width: 100%;
    position: absolute;
}

@media only screen and (max-width: 900px) {
    .section-content {
        width: 80%;
        margin: 30px auto;
    }

    .section-content p {
        font-size: 0.94em;
        line-height: 1.5em;
    }

    .section-content h1 {
        font-size: 1.5em;
        padding: 0.1em 0;
    }

    .section-content span {
        font-size: 1em;
    }

    .header {
        width: 80%;
    }

    .header a.register-button {
        font-size: 15px;
        padding: 10px 25px;
    }

    .footer {
        font-size: 0.8em;
        margin: 10px 0;
    }

    .header > .title {
        font-size: 2em;
    }

    .header > .subtitle {
        font-size: 1.2em;
    }

    .header > .register {
        font-size: 1.2em;
        line-height: 23px;
    }

    .logo {
        max-width: 60%;
    }

    .content {
        margin-top: 25px;
    }

    .map-responsive {
        padding-bottom: 60%;
    }
}
