* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-weight: normal;*/
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
}

a:hover {
    color: #0097A7;
}

.header a {
    font-weight: bold;
}

.header {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.header > .title {
    text-shadow: 1px 1px 1px #9E9E9E;
    font-size: 3em;
    margin: 40px 0 20px;
    font-weight: bold;
}

.header > .subtitle {
    margin: 20px;
    text-align: center;
}

.header > .logo {
    margin: 20px 0;
}

.header > .register {
    margin: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    line-height: 33px;
}


.content {
    max-width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 70px 0 0;
}

section {
    color: #000;
}

section:nth-child(odd) {
    background-color: #0097A7;
    color: #fff;
}

.section-content {
    width: 40%;
    margin: 50px auto;
    text-align: left;
}

.section-content p {
    line-height: 34px;
    padding: 20px 0;
    font-size: 20px;
    /*font-weight: 300;*/
}

.section-content h1 {
    font-size: 35px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #616161;
    padding: 10px 0;
}

.section-content a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.section-content span {
    font-weight: 700;
    font-size: 23px;
}

.section-content a:visited {
    color: #000;
}

.section-content a:hover {
    color: #0097A7;
    border-bottom: 1px solid #0097A7;
}

@media only screen and (max-width: 900px) {
    .section-content {
        width: 80%;
    }
    .section-content p {
        font-size: 0.94em;
        line-height: 1.5em;
    }

    .section-content h1 {
        font-size: 1.3em;
        padding: 0.3em 0;
    }

    .section-content span {
        font-size: 1em;
    }
}


.footer {
    margin: 100px 0 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.footer-content {
    margin: 10px 80px;
    text-align: center;
    font-size: 1.3em;
}

.footer-item {
    margin: 30px 0;
}

@media only screen and (max-width: 500px) {
    .header {
        width: 80%;
    }
    .footer {
        font-size: 0.8em;
    }

    .header > .title {
        font-size: 2em;
    }

    .header > .subtitle {
        font-size: 1.2em;
    }

    .header > .register {
        font-size: 1.2em;
    }
    .footer {
        margin: 10px 0;
    }
}
